.env
__pycache__/
.venv
.idea
venv/
*.pyc
.DS_Store
*.log
coverage/
htmlcov/
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.envrc
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyright/
.vscode/
*.sqlite3
*.db
*.sqlite